<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Course List</title>
  </head>
  <body>
    <h1> Are you sure you want to remove this course? </h1>
    <p> Name: {{courses.name}} </p>
    <p> Description: {{courses.description}} </p>
    <form action="/" method="post">
      {% csrf_token %}
      <input type="submit" name="no" value="No">
    </form>
    <form action="/remove_course/{{courses.id}}" method="post">
      {% csrf_token %}
      <input type="submit" name="yes" value="Yes">
    </form>
  </body>
</html>
